include ../mixins/section-title

-
  const accordeon = [
    {
      title: 'Внешняя подсветка',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'accordeon-item'
      }
    },
    {
      title: 'Внутренняя подсветка',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'accordeon-item'
      }
    },
    {
      title: 'Контражур',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'accordeon-item'
      }
    },
    {
      title: 'Контурный короб',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'accordeon-item'
      }
    },
    {
      title: 'Прямоугольный короб',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'accordeon-item'
      }
    },
    {
      class: 'active',
      title: 'Металлические буквы',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'accordeon-item'
      }
    }
  ]

section.outdoor#outdoor
  .container-fluid

    +section-title({
      type: 'dublicated',
      title: 'Наружная реклама',
      dublicate: 'Наружная реклама'
    })

    .outdoor__accordeon.accordeon
      each field in accordeon
        .accordeon__field(class= field.class ? field.class : null)
          .accordeon__header
            span= field.title
            svg(width="14" height="8")
              use(xlink:href="./assets/sprite.svg#icon-arrow-down")
          .accordeon__body
            .accordeon__body-img-box
              picture
                source(srcset=`./assets/img/${field.body.img}@1x.webp 1x, ./assets/img/${field.body.img}@2x.webp 2x` type="image/webp")
                img(src="./assets/img/${field.body.img}@1x.jpg" srcset="./assets/img/${field.body.img}.jpg 2x" alt="test" width="640" height="600")

            .accordeon__body-content
              h3.accordeon__title= field.title
              each text in field.body.text
                p= text
