include ../mixins/section-title
include ../mixins/main-btn

-
  const portfolio = [
    {
      type: 'image',
      source: 'portfolio-item-1',
      desc: 'Описание',
      overlay: 'light'
    },
    {
      type: 'image',
      source: 'portfolio-item-2',
      desc: 'Описание',
      overlay: 'light'
    },
    {
      type: 'image',
      source: 'portfolio-item-3',
      desc: 'Описание',
      overlay: 'light'
    },
    {
      type: 'video',
      source: 'ML01',
      desc: 'Афоня.рф',
      overlay: 'black'
    },
    {
      type: 'image',
      source: 'portfolio-item-4',
      desc: 'Описание',
      overlay: 'light'
    },
    {
      type: 'video',
      source: 'ML02',
      desc: 'Описание',
      overlay: 'dark'
    },
  ]

section.portfolio
  .container.portfolio__container
    +section-title({
      type: 'dublicated',
      title: 'Портфолио',
      dublicate: 'Портфолио'
    })

    .portfolio__sort
      .portfolio__sort-field
        span Формат:
        select(id="source-type").custom-select
          option(value="all" selected) Все
          option(value="image") Фото
          option(value="video") Видео

      .portfolio__sort-field
        span Сортировать:
        select(id="product-type").custom-select
          option(value="out" selected) Внешняя подсветка
          option(value="in") Внутренняя подсветка
          option(value="some") Еще что то

    ul.portfolio__list
      each item in portfolio
        li.portfolio__list-item(class= item.overlay === "light" ? 'portfolio__list-item--light' : 'portfolio__list-item--dark')
          a(href="#" aria-label="Посмотреть")
            if item.type === 'image'
              picture
                source(srcset=`./assets/img/${item.source}@1x.webp 1x, ./assets/img/${item.source}@2x.webp 2x` type="image/webp")
                img(src=`./assets/img/${item.source}@1x.jpg` srcset=`./assets/img/${item.source}.jpg 2x` alt= item.desc width="789" height="589")

            if item.type === 'video'
              video(autoplay muted loop)
                source(src=`./assets/video/${item.source}.mp4` type='video/ogg; codecs="theora, vorbis"')
                source(src=`./assets/video/${item.source}.mp4` type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                source(src=`./assets/video/${item.source}.webm` type='video/webm; codecs="vp8, vorbis"')

    +main-btn({
      type: 'button',
      title: 'Больше работ',
      cls: 'portfolio__more'
    })
